
<h1><%= @project.title %></h1>
<%= image_tag @project.image.url(:large) if @project.image.url(:large).present? %>
<p><%= @project.description %></p>

<br>

<nav>
  <%= link_to "Edit", edit_project_path(@project) %>
  <%= link_to "Delete", project_path(@project), method: :delete, data: {confirm: "Are you sure you want to delete #{@project.title}?"} %>
</nav>